<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Preview</title>
  <style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .slider {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: black;
    }

    .slider .zone {
        position: absolute;
    }

    .slider .zone .zone-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slider .zone .zone-wrapper .slide {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .slider .zone .zone-wrapper .slide img, 
    .slider .zone .zone-wrapper .slide video,
    .slider .zone .zone-wrapper .slide iframe {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .show {
        display: block !important;
    }
  </style>
</head>
<body>
  <div class="slider">
    <% zones.forEach(function(zone, zoneIndex) { %>
        <% if(template && template.isCustom) { %>
            <div class="zone" id="zone<%= zoneIndex %>" style="top: <%= zone.top/template.height*100 %>%; left: <%= zone.left/template.width*100 %>%; width: <%= zone.width/template.width*100 %>%;height: <%= zone.height/template.height*100 %>%;z-index:<%= zone.z_index %>">
                <div class="zone-wrapper">
                    <% zone.assets.forEach(function(zoneAsset, zoneAssetIndex) { %>
                        <div class="slide" data-duration="<%= zoneAsset.duration %>">
                            <% if (zoneAsset.type == 0) { %>
                                <img src="<%= zoneAsset.content %>"/>
                            <% } else if (zoneAsset.type == 1) { %>
                                <video src="<%= zoneAsset.content %>"></video>
                            <% } else { %>
                                <% if (mode == 'thumbnail') { %>
                                    <img src="/dist/images/apps/<%= zoneAsset.dimension %>" />
                                <% } else { %>
                                    <%- zoneAsset.content %>
                                <% } %>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } else { %>
            <div class="zone" id="zone<%= zoneIndex %>" style="top: <%= zone.top %>%; left: <%= zone.left %>%; width: <%= zone.width %>%;height: <%= zone.height %>%;z-index:<%= zone.z_index %>">
                <div class="zone-wrapper">
                    <% zone.assets.forEach(function(zoneAsset, zoneAssetIndex) { %>
                        <div class="slide" data-duration="<%= zoneAsset.duration %>">
                            <% if (zoneAsset.type == 0) { %>
                                <img src="<%= zoneAsset.content %>"/>
                            <% } else if (zoneAsset.type == 1) { %>
                                <video src="<%= zoneAsset.content %>"></video>
                            <% } else { %>
                                <% if (mode == 'thumbnail') { %>
                                    <img src="/dist/images/apps/<%= zoneAsset.dimension %>" />
                                <% } else { %>
                                    <%- zoneAsset.content %>
                                <% } %>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } %>
    <% }) %>
  </div>

  <script>
      window.onload = function() {
          var tempDuration = 0
          var mode = "<%- mode %>" == 'thumbnail';

          function initSlider(selector, idx) {
            var slides = document.querySelectorAll(selector + ' .zone-wrapper .slide');
            for (var j = 0; j < slides.length; j++) {
                slides[j].classList.remove('show')
                var vid = slides[j].querySelector('video')
                var iframe = slides[0].querySelector('iframe');

                if (iframe) iframe.src = iframe.src;
                if (vid) {
                    vid.load()
                }
            }
            if (slides.length > 1) {
                if (idx < slides.length) {
                    slides[idx].classList.add('show');
                    var video = slides[idx].querySelector('video');
                    var iframe = slides[idx].querySelector('iframe');

                    if (iframe) iframe.src = iframe.src;
                    if (video && !mode) video.play();

                    tempDuration = parseInt(slides[idx].getAttribute('data-duration'), 10);
    
                    setTimeout(function() {
                        initSlider(selector, idx + 1)
                      }, tempDuration * 1000);
                } else {
                    slides[0].classList.add('show');
                    var video = slides[0].querySelector('video');
                    var iframe = slides[0].querySelector('iframe');

                    if (iframe) iframe.src = iframe.src;
                    if (video && !mode) video.play();

                    tempDuration = parseInt(slides[0].getAttribute('data-duration'), 10);
                    setTimeout(function() {
                        initSlider(selector, 1)
                    }, tempDuration * 1000);
                }
            } else {
                slides[0].classList.add('show')
                var video = slides[0].querySelector('video');
                var iframe = slides[0].querySelector('iframe');

                if (iframe) iframe.src = iframe.src;
                if (video && !mode) video.play();

                tempDuration = parseInt(slides[0].getAttribute('data-duration'), 10);
                setTimeout(function() {
                    initSlider(selector, 1)
                }, tempDuration * 1000);
            }
          }

          var zones = <%- JSON.stringify(zones) %>
          zones.forEach(function(zone, zoneIndex) {
              initSlider('#zone' + zoneIndex, 0);
          })
      };
  </script>
</body>
</html>